<%- include("ktop") %>
  <!DOCTYPE html>
  <html lang="zh-CN">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link rel="stylesheet" type="text/css" href="/font_wwmtvzvu8pw7mn29/iconfont.css" />
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <style>

    </style>
  </head>

  <body>


    <!-- headerbackground -->
    <img src='/images/about-header.jpg' alt="" class='zy-bg' />

    <div class="news-bg">
      <div class="news-box">
        <div class="news-left">
          <ul class="tabs">
            <li class="kl"><a href="#">公司简介</a></li>
            <li><a href="#">管理团队</a></li>
            <li><a href="#">董事团队</a></li>
            <li><a href="#">发展历程</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="#">友情链接</a></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>



        <div class="news-right">
          <div class="gb-right">
            <ul class="show">
              <!-- 公司简介 -->
              <li class="active">

                <div class="gy-rightbox">
                  <div class="gy-wjsbox">
                    <p class="gy-guit">
                      <span class='active1'>微金所</span>
                      <span class="gy-guite">公司荣誉</span>
                      <span>资质</span>
                    </p>
                    <!-- 微金所 -->
                    <div class="ssss">
                      <div>
                        <div class="gy-bbox ">
                          <table>
                            <tbody>
                              <img src="/images/wjs-a1.png" alt="">
                              <tr class="gy-tr1">
                                <td>
                                  <img src="/images/wjs-a3.png" alt="">
                                  <p>海航资本投资</p>
                                </td>
                                <td>
                                  <img src="/images/wjs-a2.png" alt="">
                                  <p>宝新能源</p>
                                </td>
                                <td>
                                  <img src="/images/logo-sct.png" alt="">
                                  <p>深圳市创新投资集团</p>
                                </td>
                              </tr>
                              <tr class="gy-tr2">
                                <td>
                                  <p class="gy-orange">2015年12月29日，微金所获海航资本投资3亿元领投A轮融资。</p>
                                  <span>海航资本集团有限公司是世界500强海航集团旗下金融产业集团。公司成立于2007年5月，注册资本43.0435亿元人民币。海航资本依托海航集团实体产业优势，突破创新，实现了海航金融产业的蓬勃发展 …</span>
                                  <a href="" class="gy-blue">查看更多》</a>
                                </td>

                                <td>
                                  <p class="gy-orange">2016年7月27日，大型上市企业宝新能源正式入资微金所。</p>
                                  <span>广东宝丽华新能源股份有限公司于1997年1月在深圳证券交易所上市（证券简称：宝新能源，证券代码：000690）注册资本21.76亿元人民币，是一家核心主业为新能源电力的公司 …</span>
                                  <a href="" class="gy-blue">查看更多》</a>
                                </td>
                                <td>
                                  <p class="gy-orange">2016年9月13日，微金所获国际知名投资机构 - 深创投注资。</p>
                                  <span>深创投是由深圳市国资委控股的综合性创业投资集团，于2002年10月正式成立，注册资本35亿元人民币、管理外部资金1800亿元人民币，是中国资本规模最大、投资能力最强的本土国资背景创业投资机构 …</span>
                                  <a href="" class="gy-blue">查看更多》</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>


                          <div class="gy-msg">
                            <dl class="gy-m2">
                              <dt>
                    <i>&nbsp;</i>
                    微金所
                  </dt>
                              <dd>
                                微金所【深圳微金所金融信息服务有限公司】成立于2013年，是依托互联网技术创新，基于多年为银行提供中小企业信用评级服务的风控经验，通过科学的风险评级及准入机制，为小微借款人和理财客户提供交易、撮合、配置的互联网金融平台。<br /> 微金所作为交易服务平台进行信息发布，按照国家法律法规不对交易进行担保，由有资质的第三方担保机构担保，微金所将严格把控信息的真实、透明、有效，为用户提供阳光、公开、可靠的在线理财服务。
                                <br /> 微金所作为交易平台，为中小微企业主打通高速融资通道的同时，也为理财偏好不同的客户提供差异化的投资理财项目。包括房产抵押类、车辆抵押类、小微企业借款类、个人消费借款类等不同类别的产品，期限0-36个月，根据信用评级、风险定价及投资期限不同产品利率范围7-12%。
                                <br /> 微金所使用信贷工厂+交易所撮合的模式，吸取中微信用多年的经验，自建大数据系统，完美融合互联网的网络消费优势与传统金融的信用、风险管理优势，以数据流动推动金融融合，扩张虚拟渠道。
                              </dd>
                              <dt class="gy-mm1">微金所的信念：</dt>
                              <dd>坚持交易所模式，服务小微大众；不贪大，不比高；守得住底线，耐得住寂寞，坚持住理想！在鱼龙混杂之初，幸有大浪淘沙去伪存真时，微金所屹立，终将成就亿万人的信用价值！</dd>
                            </dl>
                            <dl>
                              <dt>
                    <span>
                      <img  class="gy-imglogo" src="/images/gy-logos.png" alt="">
                    </span>
                    微金所LOGO寓意：
                  </dt>
                              <dd>
                                2015年5月微金所正式全面启用新LOGO，新的标识既继承了经典的气质，又增添了现代活力，更加简洁、清新，辨识度更高。<br /> 主色调抛弃了企业标志常用的蓝色和桔色，图形从蓝色换成了活跃、明亮的红色，字体改为颇具设计感的黑色加粗字体。中国红象征着活力和好运，增加了 企业形象的亲和力，黑色是稳重而高贵的颜色。红黑搭配具有稳定、和谐与张力的视觉美感，突出了创新、活力、时尚的品牌形象。同时公司将原有英 文“MFExchange”简化为“Mifie”，令品牌形象更加简练易记，更具国际化。<br
                                /> 标识的含义：
                                <br /> 1.标识的整体结构酷似字母“V”,与微金所的“微”字谐音使标志图形与品牌图形相呼应，同时“V”又是胜利的象征。
                                <br /> 2.标识由2个方形叠加而成，由中国传统图形“方胜”演变而来，方代表广阔天地；胜代表优胜，象征同心协力合作共赢，同时两个方形叠加也蕴含着交互与平台的含义。
                                <br /> 3.标识中间的方形象征中国的方孔钱币，体现金融的行业属性。
                              </dd>
                            </dl>
                            <dl class="gy-mm4">
                              <dt>平台交易模型示意图</dt>
                              <dd class="gy-mm5">
                                <img src="/images/deal-flow.png" alt="">
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <!-- 公司荣誉 -->
                      <div class="abouthide">
                        <div class="gy-pbox gb-right">
                          <table>
                            <tbody>
                              <tr>
                                <td class="gy-time">2017.07</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/picture011.jpg" alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2017互联网金融典范企业奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：第六届中国财经峰会组委会</strong>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td class="gy-time">2017.01</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/picture010.jpg" alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2016互联网金融企业社会责任奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：第六届中国公益节组委会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2016.12</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/picture9.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2016年度中国金融科技最具竞争力企业奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：中关村互联网金融研究院·中国互联网金融三十人论坛·国培机构</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2016.12</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/picture10.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">网贷互联“互联网金融信息服务平台优秀成员单位”</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：颁发机构：网贷互联</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2016.01</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/about1.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2015年度互联网金融卓越风控企业奖</a>
                                    <br>
                                    <strong class="gy-text-h5">2015中国国际互联网+金融博览会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.12</td>
                                <td class="gy-text-js">

                                  <span>
                        <img src="/images/about2.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2015年度最受关注品牌奖</a>
                                    <br>
                                    <strong class="gy-text-h5">2015中国国际互联网+金融博览会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.07</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about3.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">全国中小企业服务体系“优质案例”奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：中国中小企业协会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.07</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about4.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2015（行业）最具影响力品牌奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：中国财经峰会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.04</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about5.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">中国网贷征信高峰论坛2015“年度人气奖”</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：中国投资协会 • 广东互联网金融协会</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.03</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about6.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">315互联网金融用户体验满意度优秀企业奖</a>
                                    <br>
                                    <strong class="gy-text-h5">新华网</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2015.01</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about7.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2015年度光芒体验大奖</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：互联网O2O资源对接平台——光芒网</strong>
                                  </p>
                                </td>
                              </tr>

                              <tr>
                                <td class="gy-time">2014.03</td>
                                <td class="gy-text-js">
                                  <span>
                        <img src="/images/about8.jpg" style="padding:0px"alt="">
                      </span>
                                  <p class="gy-text-h4">
                                    荣获奖项：
                                    <a href="">2013年度中国互联网金融新锐企业</a>
                                    <br>
                                    <strong class="gy-text-h5">颁发机构：国培机构 • 搜狐 • 商界非常道</strong>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                      <!-- 资质 -->
                      <div class="abouthide">
                        <ul class="gy-ulbox" id="gy-ulbox">
                          <li><a href=""><img src="/images/beian10.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian11.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian12.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian13.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian14.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian15.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian1.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian2.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian3.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/xinxiyewu.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/domain.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian_ok.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian5.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian7.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian8.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian9.jpg" alt=""></a></li>
                          <li><a href=""><img src="/images/beian6.jpg" alt=""></a></li>


                        </ul>
                      </div>
                    </div>
                  </div>
                </div>




              </li>

              <!-- 左侧导航对应的页面 -->
              <!-- 管理团队 -->
              <li>
                <div class="gb-right">
                  <ul class="team-content list-paddingleft-2">
                    <img src="images/about9.jpg">
                    <ul class=" list-paddingleft-2" style="list-style-type: square;">
                      <li>
                        <p class="text-h4 zy-p">
                          范忠民<strong>董事长兼CEO</strong>
                        </p>
                      </li>
                      <li>
                        <p class="text-h5">
                          北大光华EMBA高级工商管理硕士；北大光华EMBA金融协会秘书长；中微（北京）信用管理有限公司董事长；<br>中国微金融国际投资管理有限公司执行合伙人；北京丰润泰投资基金管理公司总裁；<br>全球性慈善服务组织国际狮子会资深会员；"玄奘之路"戈6队员。
                        </p>
                      </li>
                    </ul>
                  </ul>

                  <ul class="team-content clear-both list-paddingleft-2">
                    <img src="images/about11.jpg">
                    <ul class=" list-paddingleft-2" style="list-style-type: square;">
                      <li>
                        <p class="text-h4 zy-p">
                          张继业<strong>董事/合伙人</strong>
                        </p>
                      </li>
                      <li>
                        <p class="text-h5">
                          北京大学光华管理学院MBA；曾经在上海通用东岳动力总成公司任工程师、公司成本核算小组成员；<br>在中国机械工业集团公司经营管理部任经营管理主管；在弘泰恒业投资有限责任公司任董事长专业秘书；<br>在泰康人寿不动产投资平台-泰康之家投资有限公司任人力资源部负责人；<br>在安信证券直投基金公司-乾能投资管理有限公司任运营总监等职。
                        </p>
                      </li>
                    </ul>
                  </ul>

                  <ul class="team-content clear-both list-paddingleft-2">
                    <img src="images/about12.jpg">
                    <ul class=" list-paddingleft-2" style="list-style-type: square;">
                      <li>
                        <p class="text-h4 zy-p">
                          郭靖<strong>副总裁</strong>
                        </p>
                      </li>
                      <li>
                        <p class="text-h5">
                          金融领域从业10余年；银行、保险、前瞻企管顾问公司；世界华人保险大会执委会委员；<br>国际龙奖年会颁奖典礼主持人；国际认证财务顾问师。
                        </p>
                      </li>
                    </ul>
                  </ul>

                  <ul class="team-content clear-both list-paddingleft-2">
                    <img src="images/about13.jpg">
                    <ul class=" list-paddingleft-2" style="list-style-type: square;">
                      <li>
                        <p class="text-h4 zy-p">
                          董伊<strong>首席风险官</strong>
                        </p>
                      </li>
                      <li>
                        <p class="text-h5">
                          深厚的金融学和经济管理教育背景；15年银行信贷风险管理岗和基层岗经历；10年第三方财富公司高管经历；<br>金融行业风控信贷经验丰富，深刻认识风控职能的重要性；<br>现任微金所首席风险官。
                        </p>
                      </li>
                    </ul>
                  </ul>

                  <ul class="team-content clear-both list-paddingleft-2">
                    <img src="images/about14.jpg">
                    <ul class=" list-paddingleft-2" style="list-style-type: square;">
                      <li>
                        <p class="text-h4 zy-p">
                          隋月恒<strong>首席营销官</strong>
                        </p>
                      </li>
                      <li>
                        <p class="text-h5">
                          14年互联网领域市场营销经验；曾先后效力于联众、TOM网、中国三星、21世纪不动产等知名企业；<br>曾作为中国三星08奥运项目负责人，负责奥运品牌营销、三星奥运火炬手招募等工作；<br>曾作为创始团队成员加入21世纪不动产酷房网，并主要负责商务合作、市场营销工作；<br>富有创业热情，致力于为梦想而奋斗，2014年加入微金所。
                        </p>
                      </li>
                    </ul>
                  </ul>

                </div>
              </li>
              <!-- 懂事团队 -->
              <li>

        <div class="gb-right">

           <ul class="team-content zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           王光<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           现任海航金融板块金融创新部副总经理；清华大学及香港中文大学FMBA；<br>
                           历任长江租赁有限公司业务主管；海航金融板块信息管理部总经理助理、金融数据部副总经理。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           王禄誾<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           北京大学光华管理学院EMBA；创立多家公司并实现资本市场对接；<br>
                           收购拥有超过30年历史的全球性商品采购代理商林麦集团并在香港证券交易所主办上市。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content  zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           宁远喜<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           宝新能源（股票代码：000690）董事会董事长；宝新能源董事会战略发展委员会主任委员、提名委员会委员；<br>
                           宝新能源子公司广东宝新资产管理有限公司执行董事、广东信用宝征信管理有限公司执行董事；<br>


                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           孙晓蔷<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           曾任职视觉中国副总裁、执行董事；曾任职于长江电力股份公司，中国长江三峡集团；<br>
                           在资本运作、企业战略发展领域拥有多年的管理经验。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content  zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           刘力<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           北京大学光华管理学院教授、博士生导师；曾在中国国际金融股份有限公司、<br>
                           交通银行、中国机械设备工程有限公司等企业担任独立董事。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           周军<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           深圳市创新投资集团华北片区副总经理；山西红土创投基金总经理；<br>
                           参与过超过90家企业上市及定向增发投资项目。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content  zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           覃韦杰<strong>微金所董事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           深圳同创伟业资产管理股份有限公司董事总经理；<br>
                           长江商学院MBA；具有丰富的VC企业投资经验。
                       </p>
                   </li>
               </ul>
           </ul>
           <ul class="team-content zyteam-content list-paddingleft-2">
               <ul class=" list-paddingleft-2" style="list-style-type: square;">
                   <li>
                       <p class="text-h4">
                           林强<strong>微金所监事</strong>
                       </p>
                   </li>
                   <li>
                       <p class="text-h5">
                           北京航空航天大学博士后；曾任职富士通研究开发中心及信威通信产业集团研究员，<br>
                           在大数据方面有较深的研究。
                       </p>
                   </li>
               </ul>
           </ul>
       </div>
       </li>


              <!-- 发展历程 -->


              <li>
                <div class="gb-right">

                  <div class="zy-p-img">
                    <p><img src="images/about-p1.jpg"></p>
                    <p><img src="images/about-p2.jpg"></p>
                    <p><img src="images/about-p3.jpg"></p>
                    <p><img src="images/about-p4.jpg"></p>
                    <p><img src="images/about-p5.jpg"></p>
                    <p><img src="images/about-p6.jpg"></p>
                    <p><img src="images/about-p7.jpg"></p>
                    <p><img src="images/about-p8.jpg"></p>
                  </div>
                </div>
              </li>

              <!-- 合作伙伴 -->
              <li>

                <div class="gb-right partners-box">
                  <p class="partners-title">
                    合作伙伴<br> Cooperative Partners
                  </p>
                  <p class="title-list">
                    <span tar="list-s1" class="list-active">合作伙伴</span>
                    <span tar="list-s2" class="s-border">信贷服务商</span>
                    <span tar="list-s3">财富合作机构</span>
                  </p>
                  <div class="p-box box1" id="list-s1">
                    <div id="partners-s1"></div>
                    <ul class=" list-paddingleft-2">
                      <li>
                        <p class="img">
                          <img title="银联支付logo.jpg" src="images/85141448511657005.jpg">
                        </p>
                        <p class="text-h4">
                          银联在线支付
                        </p>
                        <p class="text-h5">
                          中国银联全称中国银联股份有限公司（英文名称：China UnionPay Co.,Ltd.）,2002年3月26日成立， 总部设在上海。是经中国人民银行批准的，由八十多家国内金融机构共同发起设立的股份制金融机构。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="中国人寿logo.jpg" src="images/1443431257444.jpg">
                        </p>
                        <p class="text-h4">
                          中国人寿电子商务有限公司
                        </p>
                        <p class="text-h5">
                          中国人寿电子商务有限公司注册资金10亿元，为中国人寿保险（集团）公司全资成立的一级子公司。经报请财政部、保监会、国务院批准，于2013年11月28日向北京市工商行政管理局申请公司设立登记并获批准。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-js.png" src="images/1443431257490.png">
                        </p>
                        <p class="text-h4">
                          中国建设银行
                        </p>
                        <p class="text-h5">
                          中国建设银行（简称建设银行或建行，最初名为中国人民建设银行）成立于1954年10月1日， 是股份制商业银行。是国有五大商业银行之一。中国建设银行主要经营领域包括公司银行业务 、个人银行业务和资金业务，中国内地设有分支机构14，121家。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-gs.png" src="images/1443431257518.png">
                        </p>
                        <p class="text-h4">
                          中国工商银行
                        </p>
                        <p class="text-h5">
                          中国工商银行（全称：中国工商银行股份有限公司）成立于1984年， 是中国五大银行之首，世界五百强企业之一，拥有中国最大的客户群中国最大的商业银行。中国工商银行是中国最大的国有独资商业银行，基本任务。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-pf.png" src="images/1443431257562.png">
                        </p>
                        <p class="text-h4">
                          中国浦发银行
                        </p>
                        <p class="text-h5">
                          上海浦东发展银行股份有限公司（以下简称：浦发银行）是1992年8月28日经中 国人民银行批准设立、1993年1月9日开业、1999年在上海证券交易所挂牌上市（股票交易代码：600000）的股份制商业银行，总行设在上海。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-bj.png" src="images/1443431257590.png">
                        </p>
                        <p class="text-h4">
                          北京银行
                        </p>
                        <p class="text-h5">
                          北京银行，即原来的“北京市商业银行”，成立于1996年，是一家新型的股份制商业银行。 在中国的北京、上海、天津、杭州、深圳、西安、长沙、南京、济南、南昌拥有136家营业网点。 北京银行目前是中国最大的城市商业银行及北京地区第三大银行，雇有3600多名员工， 通过其116家支行为个人与公司客户提供服务。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-zs.png" src="images/1443431257623.png">
                        </p>
                        <p class="text-h4">
                          招商银行
                        </p>
                        <p class="text-h5">
                          招商银行成立于1987年4月8日，是中国第一家完全由企业法人持股的股份制商业银行，总行设在深圳。 由香港招商局集团有限公司创办，并以18.03%的持股比例任最大股东。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-hx.png" src="images/1443431257654.png">
                        </p>
                        <p class="text-h4">
                          华夏银行
                        </p>
                        <p class="text-h5">
                          华夏银行成立于1992年10月，是一家全国性股份制商业银行，总行设在北京。 1995年经中国人民银行批准开始进行股份制改造，改制变更为华夏银行股份有限公司
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-ms.png" src="images/1443431257682.png">
                        </p>
                        <p class="text-h4">
                          民生银行
                        </p>
                        <p class="text-h5">
                          中国民生银行于1996年1月12日在北京正式成立，是中国首家主要由非公有制企业入股的全国性股份制商业银行，同时又是严格按照《公司法》和《商业银行法》建立的规范的股份制金融企业。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="chian-dh.png" src="images/1443431257706.png">
                        </p>
                        <p class="text-h4">
                          鼎鸿信资产管理有限公司
                        </p>
                        <p class="text-h5">
                          深圳市鼎鸿信资产管理有限公司成立于2009年11月，注册资本3000万元，专门从事受托资产管理、投资管理、企业管理咨询、经济信息咨询等业务。持有由中国证券投资基金业协会颁发的《私募投资基金管理人登记证书》，为开展私募证券投资、股权投资、创业投资等私募基金业务的金融机构。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img class="by-img" title="北邮在线.jpg" src="images/1443431257722.jpg">
                        </p>
                        <p class="text-h4">
                          北邮在线
                        </p>
                        <p class="text-h5">
                          成立于2000年，是北京邮电大学下属的、面向全社会的职业教育品牌。北邮在线致力于中国互联网金融普惠教育，在工信部与教育部支持下，未来3年将与合作企业联合，免费为全国高校培养5000-10000名互联网金融实战师资。
                        </p>
                      </li>
                      <li>
                        <p class="img">
                          <img title="网贷之家logo.png" src="images/1443431257773.png">
                        </p>
                        <p class="text-h4">
                          网贷之家
                        </p>
                        <p class="text-h5">
                          网贷之家是中国首家权威P2P网贷行业门户网站，始终站在客观、中立、公开的角度为P2P网络借贷行业的参与者与关注者提供全面、深入、专业的行业资讯，并倾心打造理性、包容、思辨、开放的行业交流社区，致力于推动中国网络借贷行业健康持续发展
                        </p>
                      </li>
                    </ul>
                  </div>
              </li>


              <!-- 友情链接 -->
              <li>
                <div class="zy-right firendship-box">

                  <p class="link-a">
                    <a href="" target="_blank"><span class="s1 ml0"></span></a><a href="" target="_blank"><span class="s2"></span></a><a href="" target="_blank"><span class="s3"></span></a><a href="" target="_blank"><span class="s4"></span></a><a href=""
                      target="_blank"><span class="mr0 s5"></span></a><a href="http://www.wangdaibang.com/" target="_blank"><span class="ml0 s6"></span></a><a href="" target="_blank"><span class="s7"></span></a><a href="" target="_blank"><span class="s8"></span></a>
                    <a href="" target="_blank"><span class="s9"></span></a> <a href="" target="_blank"><span class="mr0 s10"></span></a>
                  </p>
                  <ul class="link-b list-paddingleft-2">
                    <p>
                      <a href="" target="_blank">网贷天空</a><br><a href="" target="_blank">web网财</a><br><a href="" target="_blank">网贷天眼</a><br><a href="" target="_blank">无锡贷款</a><br><a href="" target="_blank">网贷指南</a><br><a href="" target="_blank">网贷平台排名</a>
                    </p>
                    <p>
                      <a href="" target="_blank">网贷中心</a><br><a href="" target="_blank">网贷之星</a><br><a href="" target="_blank">京北金融</a><br><a href="" target="_blank">第二客栈</a><br><a href="" target="_blank">互联网金融</a><br> <a href="" target="_blank">网贷点评网</a>
                    </p>
                    <p>
                      <a href="" target="_blank">返利800</a><br><a href="" target="_blank">网贷前沿</a><br><a href="" target="_blank">网e家园</a><br><a href="" target="_blank">网贷互联</a><br> <a href="" target="_blank">网贷导航网</a><br><a href="" target="_blank">value500投资导航</a>
                    </p>
                    <p>
                      <a href="" target="_blank">网贷天地</a><br><a href="" target="_blank">网贷百科</a><br><a href="" target="_blank">网贷大本营</a><br><a href="" target="_blank">网贷公社</a><br><a href="" target="_blank">网贷帮手</a>
                    </p>
                    <p>
                      <a href="" target="_blank">搜狐互联网金融</a><br><a href="" target="_blank">网贷世界</a><br><a href="" target="_blank">棕榈树</a><br><a href="" target="_blank">第一网贷导航</a><br><a href="" target="_blank">搜狐房贷计算器</a>
                    </p>
                  </ul>
                </div>
              </li>
              <!-- 联系我们 -->
              <li>
                <div class="gb-right contact-box">
                  <ul>
                    <li class="text-h4"><i class="icon iconfont icon-dianhua">&nbsp;</i>联系客服</li>
                    <li class="text-h5">如果您在使用微金所（<a class="orange" href="/">www.weijinsuo.com</a>）的过程中有任何疑问,请您与微金所客服人员联系，您还可以发送邮件向我们提出宝贵意见和建议,我们会在两个工作日内联系您！</li>
                    <li class="text-h5">客服电话：<span class="orange">4006-89-4006 / 010-53563799（9:00~21:00）
                </span></li>
                    <li class="text-h5">传真号码：010-51727487</li>
                    <li class="text-h5">客服电邮：<span class="blue">service@weijinsuo.com</span></li>
                  </ul>
                  <ul>
                    <li class="text-h4"><i class="icon iconfont icon-add_xiaoren" style='padding-right:8px;'></i>商务合作</li>
                    <li class="text-h5">商务合作/市场推广/广告投放/媒体采访</li>
                    <li class="text-h5">
                      电话：<span class="blue">010-53563700 转 3663</span><br> 邮箱：
                      <span class="blue">bd@weijinsuo.com</span>
                    </li>
                  </ul>




                  <ul>
                    <li class="text-h4"><i class="icon iconfont icon-xiaoxi" style='padding-right:8px;'></i>财富渠道合作（非广告投放）</li>
                    <li class="text-h5">
                      电话（及微信）：
                      <span class="blue">15010578912</span>&nbsp;财富01<br>
                      <span class="padL25 blue">18211150273</span>&nbsp;财富02<br>
                      <span class="padL25 blue">18210205280</span>&nbsp;财富03<br>
                      <span class="padL25 blue">18210909382</span>&nbsp;财富04<br>
                    </li>
                  </ul>

                  <p class="text-h4">公司地址</p>



                  <div class="add-box" id="bj-box">
                    <ul class="info-box">
                      <li class="contact-info text-h5">北京总部：中微（北京）信用管理有限公司<span class="red"></span></li>
                      <li class="text-h5">地址：北京市海淀区中关村南大街2号，数码大厦A座，23层（邮编：100086）</li>
                      <li class="text-h5">电话：<span class="blue">010-53563700 </span></li>
                    </ul>

                  </div>



                  <div class="add-box" id="sz-box">
                    <ul class="info-box">
                      <li class="contact-info text-h5">深圳分公司：深圳微金所金融信息服务有限公司<span class="red"></span></li>
                      <li class="text-h5">地址：中国深圳福田区深南大道2012号深圳证劵交易所广场3504（邮编：518035）</li>

                    </ul>

                  </div>
                </div>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>



      <script src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript">
        var tabs = document.getElementsByClassName('tabs')[0].children;
        var contents = document.getElementsByClassName("show")[0].children;
        var tabss = document.getElementsByClassName('gy-guit')[0].children;
        var contentss = document.getElementsByClassName("ssss")[0].children;

        for (var i = 0; i < tabs.length; i++) {


          tabs[i].index = i;
          tabs[i].onclick = function(event) {
            for (var j = 0; j < tabs.length; j++) {
              tabs[j].className = "";
              contents[j].className = "";
            }
            this.className = "kl";
            contents[this.index].className = "active";
          };
        }

        for (var k = 0; k < tabss.length; k++) {


          tabss[k].index = k;
          tabss[k].onclick = function(event) {
            for (var m = 0; m < tabss.length; m++) {
              tabss[m].className = "";
              contentss[m].className = "abouthide";
            }

            contentss[this.index].className = "aboutshow";
          };
        }
      </script>
  </body>

  </html>
  <%- include("kbottom") %>
