<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href='/stylesheets/kzc.css'>
  </head>
  <body>

    <div class="top">
      <div class="container clearfix">
        <div class="left">
          <div class="wjs">
            <span class="box"></span>
            <a href="#" class="point"></a>
            <span class="tp">
              <img src="/images/img/si.png" alt="">
            </span>
          </div>
        </div>

        <div class="right">
          <ul>
            <li> <a href="/" class="on">返回首页</a> </li>
            <li class="on"> <a href="/login">登录</a></li>
            <li style=" border-bottom: 3px red solid;"> <a href="#"  style="color: red;">注册</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="ZC">
      <div class="container clearfix">
        <div class="left">
          <div class="zc">
            <h4>注册微金所</h4>
            <input type="text" id="username" placeholder="请输入您的账号" class="phone"><br>
            <input type="password" id="pwd" placeholder="密码" class="pawd"><br>
            <input type="password" id="qrpwd" placeholder="确认密码" class="pass"><br>
            <input type="text" id="tpyz" placeholder="图片验证码" class="imgs">
            <img src="" alt="" class="yzm"><br>
            <div class="p">
              <input type="number" id="vip" placeholder="黄金贵族VIP邀请码" class="code">
              <div id="bt" class="bt">输入邀请码</div>
              <br>
            </div>

            <p style="font-size:13px">输入邀请码</p>
            <input name='sex' type="radio" class="radio">
            <h  style="font-size:13px">我已阅读并同意微金所《服务协议》</h>
            <input  type="submit" id="btn" class="btn" value="注册">
            <sapn style="font-size:13px;">已有账号?</sapn><a style="color: #fe9305;font-size:13px;" href="/login">立即登录</a>
          </div>
        </div>

        <div class="right">
            <a href="/login" class="logo"></a>
        </div>
      </div>
    </div>

    <div class="bottom">
      ©版权所有©深圳微金所金融信息服务有限公司 粤ICP备 16000732号-1
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/kzc.js"></script>

  </body>
</html>
