<%- include("ktop") %>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>微金所</title>

  <link rel="stylesheet" href="/stylesheets/Mary.css">
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/font/iconfont.css">

  <style>

  </style>
</head>

<body>

  <img src="/images/guide1.jpg" alt="" class="Mary-guide1">

  <div class="news-bg">
    <div class="news-box">
      <div class="news-left">
        <ul class="tabs">
          <li class="active kl"><a href="#">操作指南</a></li>
          <li><a href="#">新手指引</a></li>
          <li><a href="#">VIP投资人</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">名词解释</a></li>
          <li><a href="#">产品介绍</a></li>
        </ul>
      </div>
      <div class="news-right">
        <div>
          <ul class="show">
            <!--*************************操作指南*********************************** -->
            <li class="active">
              <div class="Mary-tab">
                <!-- 注册 -->
                <div class="Mary-part1">
                  <div class="Mary-jion1">注册</div>
                  <div class="Mary-message">填写手机号等信息注册</div>
                  <a href="/login" class="Mary-btn">立即注册</a>
                </div>
                <!-- 实名认证 -->
                <div class="Mary-part2">
                  <div class="Mary-jion2">实名认证</div>
                  <div class="Mary-message">输入姓名身份证号进行实名认证</div>
                  <a href="/login" class="Mary-btn">立即实名认证</a>
                </div>
                <!-- 充值 -->
                <div class="Mary-part3">
                  <div class="Mary-jion3">充值</div>
                  <div class="Mary-message">冲入您想要投资的金额</div>
                  <a href="/login" class="Mary-btn">立即充值</a>
                </div>
                <!-- 投标 -->
                <div class="Mary-part4">
                  <div class="Mary-jion4">投标</div>
                  <div class="Mary-message">选择心仪的项目点击投标</div>
                  <a href="/login" class="Mary-btn">立即投标</a>
                </div>
              </div>
            </li>
            <!--*************************新手指引*********************************** -->
            <li>
              <div class="Mary-tab">
                <div class="Mary-title">
                  <img src="/images/dsz2.jpg" alt="">
                  <ul class="Mary-jiyu">
                    <li>
                      <h3>董事长寄语</h3></li>
                    <li>亲爱的微金所的投资人 你们好：</li>
                    <li>首先我代表微金所，热烈欢迎您的加入，非常感谢您对微金所的偏爱。</li>
                    <li>互联网金融还在发展初期，能够关注到这种新型理财方式并且信任微金所，是我们</li>
                    <li>的荣幸，同时我们也会为了您的信任，努力做得更好，祝大家在微金所投资愉快！</li>
                  </ul>
                  <img src="/images/sign3.png" alt="" class="Mary-sign">
                </div>

                <h2 class="Mary-h2M"><i class="Mary-point"></i> 什么是微金所？</h2>
                <p style="line-height:32px">微金所主要是提供固定收益类产品的投资理财平台，目前上线的都是300万以下、 年化利率最高可达 <span class="Mary-mark">6%-12.5%</span>、多种期限的投资项目，您可以100元起投，投资金额由自己决定， 大部分项目是每个月给您发利息，到期的时候一次性还本金和最后一期利息，也有利随本清和等额本息的项目
                  <a href="#" style="color:#ff9201">（区别详情请点击查看）</a>，可根据您的喜好选择。全程都可以在网上操作，非常简单方便， 我们线上所有的项目都是由经过微金所严格筛选的具有较强运营能力和风险管理能力的机构提供， 以保证您的资金安全。
                </p>

                <h2>举例说明：</h2>
                <p style="line-height:32px">1、年化收益12.5%以内，如果您有一万块钱，放在银行一年能有200块钱利息，放在微金所平台上能最高有1,250元的利息。<br> 2、投资周期从1天到36个月不等。也就是说想放多久您自己说了算，跟银行定期存款一样。
                  <br> 3、按月付息的项目都是投资满标开始计息，按月支付利息。 利随本清是到期一次性还本金和利息，等额本息是每月还一部分本金和利息，所以请选择自己喜欢的还款方式.
                  <br>
                  <br> 举个例子，假设一个月付息的项目是6个月的，年化利率
                  <span class="Mary-mark">12%</span>，相当于每月<span class="Mary-mark">1%</span>。<br> 您在8月1日投入10万元，那么会发生如下的故事：
                  <br> 9月1日，获得利息1,000元，可以直接提现或继续投资；
                  <br> 10月1日，获得利息1,000元，可以直接提现或继续投资；
                  <br> 11月1日，获得利息1,000元，可以直接提现或继续投资；
                  <br> 12月1日，获得利息1,000元，可以直接提现或继续投资；
                  <br> 1月1日，获得利息1,000元，可以直接提现或继续投资；
                  <br> 2月1日，获得利息约1,000元+本金10万元，可直接提现或继续投资
                  <br> 至此您半年一共获得6,000元的利息，可以犒劳一下自己了，也可以继续投资形成复利。
                  <br></p>

                <h2 class="Mary-h2"><i class="Mary-point"></i> 在微金所理财安全吗？</h2>
                <p style="line-height:32px">我们对于提供借款企业的担保公司有严格的审核机制和限制条件，因为涉及到专业标准此处省略一万个字...抵押类项目需要提供足值抵押物作为保障。<br> 担保公司全额担保，小贷公司全额回购来实现本息保障。
                  <br> 公司对每一个借款项目都会收取2%-17%的保证金，作为风险拨备金，以此来防范可能出现的逾期风险。对您负责就是对我们自己负责。
                </p>

                <h2 class="Mary-h2"><i class="Mary-point"></i>为什么微金所可以提供这么好的利率？</h2>
                <p style="line-height:32px">因为微金所是创新互联网微金融交易平台，通过互联网直接促成借款企业与投资人之间交易， 省却了很多中间环节的成本，所以能将更多的收益回报给投资人，并且我们的利率是在国家法律保护的定存4倍的范围之内，所以是非常合理的。 </p>

                <h2 class="Mary-h2"><i class="Mary-point"></i>什么样的风控才可靠？<span class="Mary-rule">基本法则：小额分散，大数法则</span></h2>
                <table class="Mary-table">
                  <tbod>
                    <tr>
                      <td width="18%">类别</td>
                      <td width="24%" style="background:border-box">微金所的安全风控</td>
                      <td width="18%" style="background:border-box">风险较高的风控</td>
                      <td width="30%">理由</td>
                    </tr>
                    <tr>
                      <td>单笔项目金额</td>
                      <td>300万以下</td>
                      <td>1,000万以上</td>
                      <td>1.单笔金额过大，风险拨备金无法足以覆盖可能出现的风险.<br> 2.如出现逾期，担保公司代偿压力过大
                        <br> 3.金额越大，资金实际去向越难以控制 </td>
                    </tr>
                    <tr>
                      <td>年化利率</td>
                      <td>15%以下</td>
                      <td>15%以上</td>
                      <td>过高利率对应着高风险</td>
                    </tr>
                    <tr>
                      <td>同一担保公司授信额度</td>
                      <td>按照评估进行授信</td>
                      <td>无节制的放款</td>
                      <td>可着一只羊薅羊毛后果可想而知</td>
                    </tr>
                    <tr>
                      <td>同一借款人授信额度</td>
                      <td>300万以下</td>
                      <td>无节制的放款</td>
                      <td>道理同上</td>
                    </tr>
                    <tr>
                      <td>地域分散</td>
                      <td>每个区域借款<br> 不超过总盘的10% </td>
                      <td>区域过度集中</td>
                      <td>一旦出现区域性风险，也不会影响全局</td>
                    </tr>
                    <tr>
                      <td>地域借贷风险回避</td>
                      <td>避开个别民间借贷高危 地区，有些省市是担保 公司有系统性风险的地 区，坚决杜绝。</td>
                      <td>高危地区担保<br> 项目集中 </td>
                      <td>不了解担保行业地域风险的公司常常会为了项目不顾后果 </td>
                    </tr>
                    <tr>
                      <td>行业风险回避</td>
                      <td>避开高风险行业的项目</td>
                      <td>所有行业都做</td>
                      <td>所有行业都做，容易出现系统性风险</td>
                    </tr>
                  </tbod>
                </table>

                <h2 class="Mary-h2">《经济观察报》整版大篇幅报道：微金所风控模式靠谱吗</h2>
                <img src="/images/guide4.jpg" alt="" class="Mary-news">
              </div>
            </li>
            <!--*************************vip投资人*********************************** -->
            <li>
              <div class="Mary-tab">
                <div class="Mary-introduce">
                  <img src="/images/vip-img1.jpg" alt="">
                  <div>
                    <h3 class="Mary-h3">VIP投资人计划介绍</h3>
                    <p class="Mary-con">VIP投资人计划是微金所设计并推出的，以投资微金所平台现有信贷标的（机构担保标的、小贷承诺回购标的）为基础 的稳健、优质、高透明度的投资计划。</p>
                  </div>
                </div>
                <h2 class="Mary-vip2h3">VIP会员优势</h2>
                <div>
                  <div class="Mary-vip2">
                    <ul>
                      <li><img src="/images/vip-img2.jpg" alt=""></li>
                      <li>
                        <h4>VIP投资通道</h4></li>
                      <li>
                        <p>加入VIP投资人计划的用户可限时优先享受专属理财产品的购买权， 包括V1标、V2标、V3标、V4标、V5标、V6标和V7标， 普通用户在限制时间范围内无法购买VIP专属理财产品，产品经过更加严格的风控筛选， 且在标的利率方面比普通产品要高可享受更高回报
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="Mary-vip2">
                    <ul>
                      <li><img src="/images/vip-img3.jpg" alt=""></li>
                      <li>
                        <h4>大额众筹竞标，成交快速</h4></li>
                      <li>
                        <p>VIP投资人的投资能力相对于普通散户投资人来说，单笔投资额度较高， VIP用户可利用专属投资权利和大额投资金额的双重优势，快速形成标的众筹满标， 加速完成信贷资产的交易；配合官方提前预告，用户提前预约充值后， 可形成“秒标”效应。
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="Mary-vip2">
                    <ul>
                      <li><img src="/images/vip-img4.jpg" alt=""></li>
                      <li>
                        <h4>平台费用减免</h4></li>
                      <li>
                        <p>VIP投资人在平台可免收短信服务费、 实名认证费和平台管理费‘第三方支付渠道的充值费全部由平台垫付； 普通用户提现需收取2元/笔手续费， VIP会员每年可享受不同次数的免费提现权利，完全享受投资乐趣
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>

                <h2 class="Mary-vip2h3">VIP会员优势</h2>
                <div class="Mary-grow">
                  <table class="Mary-vipTab">
                    <tr>
                      <td>会员等级</td>
                      <td>普通用户</td>
                      <td>V1</td>
                      <td>V2</td>
                      <td>V3</td>
                      <td>V4</td>
                      <td>V5</td>
                      <td>V6</td>
                      <td>V7</td>
                    </tr>
                    <tr>
                      <td>等级图标</td>
                      <td><img src="/images/vip_1.png" alt=""></td>
                      <td><img src="/images/vip_2.png" alt=""></td>
                      <td><img src="/images/vip_3.png" alt=""></td>
                      <td><img src="/images/vip_4.png" alt=""></td>
                      <td><img src="/images/vip_5.png" alt=""></td>
                      <td><img src="/images/vip_6.png" alt=""></td>
                      <td><img src="/images/vip_7.png" alt=""></td>
                      <td><img src="/images/vip_8.png" alt=""></td>
                    </tr>
                    <tr>
                      <td>累计年化投资额</td>
                      <td>0w</td>
                      <td>10w</td>
                      <td>20w</td>
                      <td>40w</td>
                      <td>80w</td>
                      <td>150w</td>
                      <td>300w</td>
                      <td>600w</td>
                    </tr>
                    <tr>
                      <td>单日年化投资额</td>
                      <td>0w</td>
                      <td>5w</td>
                      <td>10w</td>
                      <td>20w</td>
                      <td>40w</td>
                      <td>75w</td>
                      <td>150w</td>
                      <td>300w</td>
                    </tr>
                  </table>
                  <p class="Mary-tp"><span class="Mary-mark">*</span>V1注册之日起3个月内无投资，则降为普通会员。</p>
                </div>
                <div class="Mary-equPart">
                  <h4 class="Mary-equ">
                    <span>会员权益介绍</span>
                  </h4>

                  <table class="Mary-vipTab">
                    <tr>
                      <td colspan="2">会员等级</td>
                      <td>普通用户</td>
                      <td>V1</td>
                      <td>V2</td>
                      <td>V3</td>
                      <td>V4</td>
                      <td>V5</td>
                      <td>V6</td>
                      <td>V7</td>
                    </tr>
                    <tr>
                      <td rowspan="2">升级奖励</td>
                      <td>提现券</td>
                      <td></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                    </tr>
                    <tr>
                      <td>加息券</td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                    </tr>
                    <tr>
                      <td colspan="2">开户周年礼包</td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                    </tr>
                    <tr>
                      <td colspan="2">生日礼包</td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                      <td><img src="/images/new-ok.png" alt=""></td>
                    </tr>
                    <tr>
                      <td colspan="2">减免转让</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>0.10%</td>
                      <td>0.10%</td>
                      <td>0.10%</td>
                    </tr>
                  </table>
                </div>

                <div class="Mary-introduce">
                  <img src="/images/vip-img5.jpg" alt="">
                  <div>
                    <h3 class="Mary-h3">如何获得VIP投资人资格</h3>
                    <p class="Mary-con">您可以通过注册账户后累计年化投资额达到规定额度或者单日年化投资额达到规定额度获得对应级别的VIP权限，当累计到更高的年化投资额时， 可以升级高级别VIP获得更多专属权益。</p>
                  </div>
                </div>
              </div>
            </li>
            <!--*************************常见问题*********************************** -->
            <li>
              <div class="Mary-tab Mary-tab4">
                <p class="Mary-bank">银联账户</p>
                <p class="Mary-p">注册与登录</p>
                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c1" aria-expanded="false" aria-controls="collapseExample">
                  <span class="iconfont icon-jia1"></span>
                  如何开始我在微金所的第一笔投资？</a>
                <div class="collapse Mary-question1" id="Mary-c1">
                  <div class="well Mary-answer">
                    <ul>
                      <li>您只需要简单的四步就能完成首次投资：</li>
                      <li>（1）注册：通过微金所官网或APP注册您的微金所账户；</li>
                      <li>（2）实名认证：按照相关法律规定，需要您输入姓名与身份证号进行实名认证；</li>
                      <li>（3）绑定银行卡：认证完毕后，需要绑定您的银行卡并进行充值；</li>
                      <li>（4）投资：选择自己喜欢的项目开始投资。</li>
                    </ul>
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c2" aria-expanded="false" aria-controls="collapseExample">
                <span class="iconfont icon-jia1"></span>
                我如何注册成为微金所用户？</a>
                <div class="collapse Mary-question1" id="Mary-c2">
                  <div class="well Mary-answer">
                    您可以点击页面顶部导航条上的“免费注册”按钮或通过微金所手机APP方便地进行注册。 您的手机号是您在微金所的身份标识，请您牢记于心。注册成功后，您可以绑定您的常用电子邮箱， 方便您找回密码。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c3" aria-expanded="false" aria-controls="collapseExample">
              <span class="iconfont icon-jia1"></span>
              我忘记了登录密码该怎么办？</a>
                <div class="collapse Mary-question1" id="Mary-c3">
                  <div class="well Mary-answer">
                    您可以在登录页面处点击“找回密码”按钮，然后在弹出窗口内填写注册时的手机号或绑定的电子邮箱，并点击获取验证码。 在收到短信或邮件后，请将验证码填写至相应位置，或点击邮件中的重新设置密码链接，设置新的登录密码。 这样就可以用新的密码登录微金所平台了。
                  </div>
                </div>



                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c4" aria-expanded="false" aria-controls="collapseExample">
            <span class="iconfont icon-jia1"></span>
            设置登陆密码有什么要求吗？</a>
                <div class="collapse Mary-question1" id="Mary-c4">
                  <div class="well Mary-answer">
                    登陆密码必须包含数字和英文字母（区分大小写），至少8位字符，不超过16位字符。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c5" aria-expanded="false" aria-controls="collapseExample">
          <span class="iconfont icon-jia1"></span>
          为什么要绑定手机？</a>
                <div class="collapse Mary-question1" id="Mary-c5">
                  <div class="well Mary-answer">
                    通过绑定手机，您可以提高您的微金所账户的安全级别，并及时得到您在微金所进行操作的信息， 随时掌控账户动态。并且，手机号是您账户信息的最有效的认证工具，可完成忘记密码时重置登陆密码等操作。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c6" aria-expanded="false" aria-controls="collapseExample">
        <span class="iconfont icon-jia1"></span>
        为什么要做实名认证</a>
                <div class="collapse Mary-question1" id="Mary-c6">
                  <div class="well Mary-answer">
                    实名认证的目的是验证您所绑定的银行卡是否属于您本人。为了确保您的资金安全， 您需要在首次充值前进行实名认证，以便于系统在您充值与提现时校验您的身份。 实名认证仅需输入您的身份证号及姓名，全过程仅需10秒钟，非常简单方便。
                  </div>
                </div>


                <p class="Mary-p">充值与提现</p>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c7" aria-expanded="false" aria-controls="collapseExample">
      <span class="iconfont icon-jia1"></span>
      为何需要充值？如何充值？</a>
                <div class="collapse Mary-question1" id="Mary-c7">
                  <div class="well Mary-answer">
                    <ul>
                      <li>在您投资之前，您的账户需要进行充值。微金所是一个“不碰钱”的金融交易平台，并不实际存放投资者和借款人的资金。 微金所与上海银联已实现合作，上海银联对您在微金所账户中的资金进行管理，并对您账户内的资金流向进行全方位的专业监管，保障您的投资安全。 当您需要为您的账户充值时，只需以下3步即可完成：
                      </li>
                      <li>（1）登录您的账户，进入“个人中心”，点击“充值”按钮；</li>
                      <li>（2）输入您想要充入账户的充值金额；</li>
                      <li>（3）页面跳转到第三方支付平台进行支付即可。</li>
                      <li>成功付款后，系统将显示成功付款并跳转至微金所页面，显示充值成功。您还可以通过“交易记录”查看充值的具体金额及历史记录。</li>
                    </ul>
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c8" aria-expanded="false" aria-controls="collapseExample">
    <span class="iconfont icon-jia1"></span>
    为什么网上银行充值成功，但是微金所帐号里面的余额却没有增加？</a>
                <div class="collapse Mary-question1" id="Mary-c8">
                  <div class="well Mary-answer">
                    实名认证的目的是验证您所绑定的银行卡是否属于您本人。为了确保您的资金安全， 您需要在首次充值前进行实名认证，以便于系统在您充值与提现时校验您的身份。 实名认证仅需输入您的身份证号及姓名，全过程仅需10秒钟，非常简单方便。
                  </div>
                </div>


                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c9" aria-expanded="false" aria-controls="collapseExample">
  <span class="iconfont icon-jia1"></span>
  为什么要做实名认证</a>
                <div class="collapse Mary-question1" id="Mary-c9">
                  <div class="well Mary-answer">
                    由于在同一时间使用相同第三方充值账户端口进行充值的人可能非常多，在某些时候会造成网银显示金额与微金所账号显示金额不同步的情况。 如果您遇到这种情况，请您将网银付款成功的页面截图，然后刷新微金所账户页面。 如果刷新未能解决问题，请您致电客服4006-89-4006，客服专员会指导您发送截图并马上处理您的问题。 需要您注意的是，在支付页面完成充值后，请点击“返回商户”链接，返回微金所网站，而不要直接关闭支付页面窗口，否则会造成充值金额延后到账的情况。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c12" aria-expanded="false" aria-controls="collapseExample">
<span class="iconfont icon-jia1"></span>
我如何注册成为微金所用户？</a>
                <div class="collapse Mary-question1" id="Mary-c12">
                  <div class="well Mary-answer">
                    您可以点击页面顶部导航条上的“免费注册”按钮或通过微金所手机APP方便地进行注册。 您的手机号是您在微金所的身份标识，请您牢记于心。注册成功后，您可以绑定您的常用电子邮箱， 方便您找回密码。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-c13" aria-expanded="false" aria-controls="collapseExample">
<span class="iconfont icon-jia1"></span>
我忘记了登录密码该怎么办？</a>
                <div class="collapse Mary-question1" id="Mary-c13">
                  <div class="well Mary-answer">
                    您可以在登录页面处点击“找回密码”按钮，然后在弹出窗口内填写注册时的手机号或绑定的电子邮箱，并点击获取验证码。 在收到短信或邮件后，请将验证码填写至相应位置，或点击邮件中的重新设置密码链接，设置新的登录密码。 这样就可以用新的密码登录微金所平台了。
                  </div>
                </div>




              </div>
            </li>
            <!--*************************名词解释*********************************** -->
            <li>
              <div class="Mary-tab Mary-tab4">
                <p class="Mary-p">关于微金所</p>
                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m1" aria-expanded="false" aria-controls="collapseExample">
                  <span class="iconfont icon-jia1"></span>
                   微金所</a>
                <div class="collapse Mary-question1" id="Mary-m1">
                  <div class="well Mary-answer">
                    微金所是一个互联网微金融资产交易平台，面向个人及机构投资者提供安全、便捷、透明、高收益的理财计划。 投资人投资的产品为经过严格准入审核的优质信贷服务机构推荐并全额担保的小额借款项目。 微金所平台搭建以风险拨备金为核心、信贷服务机构动态评级机制为准绳的8层安全投资通道， 为投资人提供低门槛、低风险、高收益的理财选择，实现跨区域投资，丰富投资选择。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m2" aria-expanded="false" aria-controls="collapseExample">
                <span class="iconfont icon-jia1"></span>
                借款人</a>
                <div class="collapse Mary-question1" id="Mary-m2">
                  <div class="well Mary-answer">
                    是指在网站上进行借款活动的用户。凡18周岁以上的中国公民，都可以成为借款人。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m3" aria-expanded="false" aria-controls="collapseExample">
              <span class="iconfont icon-jia1"></span>
              投资人</a>
                <div class="collapse Mary-question1" id="Mary-m3">
                  <div class="well Mary-answer">
                    是指已经注册为微金所平台的会员，并通过平台自主选择出借一定数量资金予他人的自然人。凡18周岁以上的中国公民，都可以成为投资人。
                  </div>
                </div>

                <p class="Mary-p">关于项目</p>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m4" aria-expanded="false" aria-controls="collapseExample">
            <span class="iconfont icon-jia1"></span>
            项目标的</a>
                <div class="collapse Mary-question1" id="Mary-m4">
                  <div class="well Mary-answer">
                    当借款人成功发布一个借款请求时，我们将包含各种借款信息的该请求称为一个项目标的。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m5" aria-expanded="false" aria-controls="collapseExample">
          <span class="iconfont icon-jia1"></span>
          投标？</a>
                <div class="collapse Mary-question1" id="Mary-m5">
                  <div class="well Mary-answer">
                    指投资人将其账户内指定的金额投资给指定的项目标的的行为。
                  </div>
                </div>



                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m11" aria-expanded="false" aria-controls="collapseExample">
      <span class="iconfont icon-jia1"></span>
       微金所</a>
                <div class="collapse Mary-question1" id="Mary-m11">
                  <div class="well Mary-answer">
                    微金所是一个互联网微金融资产交易平台，面向个人及机构投资者提供安全、便捷、透明、高收益的理财计划。 投资人投资的产品为经过严格准入审核的优质信贷服务机构推荐并全额担保的小额借款项目。 微金所平台搭建以风险拨备金为核心、信贷服务机构动态评级机制为准绳的8层安全投资通道， 为投资人提供低门槛、低风险、高收益的理财选择，实现跨区域投资，丰富投资选择。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m12" aria-expanded="false" aria-controls="collapseExample">
    <span class="iconfont icon-jia1"></span>
    借款人</a>
                <div class="collapse Mary-question1" id="Mary-m12">
                  <div class="well Mary-answer">
                    是指在网站上进行借款活动的用户。凡18周岁以上的中国公民，都可以成为借款人。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-m6" aria-expanded="false" aria-controls="collapseExample">
<span class="iconfont icon-jia1"></span>
流标</a>
                <div class="collapse Mary-question1" id="Mary-m6">
                  <div class="well Mary-answer">
                    指一个项目标的的投标期限已过，但其需要的借款没有足额筹集，即借款失败。
                  </div>
                </div>


              </div>
            </li>

            <!--*************************产品介绍*********************************** -->
            <li>
              <div class="Mary-tab Mary-tab4 Mary-tab">
                <p class="Mary-p">微金宝</p>
                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p1" aria-expanded="false" aria-controls="collapseExample">
                  <span class="iconfont icon-jia1"></span>
                   1.微金宝产品特点</a>
                <div class="collapse Mary-question1" id="Mary-p1">
                  <div class="well Mary-answer">
                    微金宝有几个显著的特点，现介绍如下： a)此产品是一个智能投资工具，投资本产品后系统将自动匹配微金所信贷服务商推荐的借 款项目； b)此产品是为了满足偏好短期投资的用户设计的，一般为短期，如1个月、2个月； c)产品不分“期”，只要有额度，随时可以投资； d)投资后即开始计息，无需等待满标； e)投资后可在投资记录中查看到当前匹配的平台标的，展示其合同号。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p2" aria-expanded="false" aria-controls="collapseExample">
                <span class="iconfont icon-jia1"></span>
                2.投资的时候显示还有额度，但是点投资却投不进去了？</a>
                <div class="collapse Mary-question1" id="Mary-p2">
                  <div class="well Mary-answer">
                    因为微金宝比较抢手，其他投资人已经抢先投资成功了，请您稍等或者明天抢投。一般会在凌晨0:00刷新可投额度。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p3" aria-expanded="false" aria-controls="collapseExample">
              <span class="iconfont icon-jia1"></span>
              3.投资成功后就开始计息了吗？</a>
                <div class="collapse Mary-question1" id="Mary-p3">
                  <div class="well Mary-answer">
                    是的，例如投资1个月微金宝，到期日就是投资日后一个月。
                  </div>
                </div>

                <p class="Mary-p">本事宝</p>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p4" aria-expanded="false" aria-controls="collapseExample">
            <span class="iconfont icon-jia1"></span>
             1.产品介绍</a>
                <div class="collapse Mary-question1" id="Mary-p4">
                  <div class="well Mary-answer">
                    本事宝”是由借款人发起的，最终投向消费借款的借款项目， 以向急需资金的技能型蓝领提供消费借款的产品。此类人群均拥有特定领域的专业技能，比如司机、厨师、修理工等等，特定技能保证了该类人群具有稳定的收入来源和现金流，因而具备良好的偿付能力。本产品借款人数多，小额分散，总体风险可控。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p5" aria-expanded="false" aria-controls="collapseExample">
          <span class="iconfont icon-jia1"></span>
          2.资产来源</a>
                <div class="collapse Mary-question1" id="Mary-p5">
                  <div class="well Mary-answer">
                    “本事宝”所对应的资产为消费性借款，由微金所合作伙伴提供。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p14" aria-expanded="false" aria-controls="collapseExample">
      <span class="iconfont icon-jia1"></span>
       1.产品介绍</a>
                <div class="collapse Mary-question1" id="Mary-p14">
                  <div class="well Mary-answer">
                    本事宝”是由借款人发起的，最终投向消费借款的借款项目， 以向急需资金的技能型蓝领提供消费借款的产品。此类人群均拥有特定领域的专业技能，比如司机、厨师、修理工等等，特定技能保证了该类人群具有稳定的收入来源和现金流，因而具备良好的偿付能力。本产品借款人数多，小额分散，总体风险可控。
                  </div>
                </div>

                <a class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p15" aria-expanded="false" aria-controls="collapseExample">
    <span class="iconfont icon-jia1"></span>
    2.资产来源</a>
                <div class="collapse Mary-question1" id="Mary-p15">
                  <div class="well Mary-answer">
                    “本事宝”所对应的资产为消费性借款，由微金所合作伙伴提供。
                  </div>
                </div>

                <a style="border-bottom: 1px solid #CDD0D5" class="btn Mary-question" role="button" data-toggle="collapse" href="#Mary-p6" aria-expanded="false" aria-controls="collapseExample">
        <span class="iconfont icon-jia1"></span>
        3.产品模式</a>
                <div class="collapse Mary-question1" id="Mary-p6">
                  <div class="well Mary-answer">
                    “本事宝”在平台上架采用收益权转让的模式。 即由合作伙伴指定某个人向原借款人发放贷款然后该指定个人来微金所平台就已发放的贷款进行收益权转让，以借款人的身份在平台申请借款。
                  </div>
                </div>


              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/alljs.js"></script>
  <script src="/javascripts/newer.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>

<%- include("kbottom") %>
