<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/online.css">
    <link rel="stylesheet" href="/font1/iconfont.css">

  </head>
  <body>
    <!-- ****************************在线客服************************************** -->
          <div class="Mary-service Mary-dian">
            <div>
              <span class="iconfont icon-kefu"></span>
              在线客服</div>
            </div>

    <!-- ************************在线对话******************************** -->
          <div class="Mary-talkbox Mary-jiang">
            <div class="Mary-talkTop">
              <div class="Mary-talkPic">
                <img src="/images/admin.png" alt="">
              </div>
              <div class="Mary-talkTil">
                <p>微客服抠脚大汉赵越</p>
                <p>深圳微金所金融信息服务有限公司</p>
              </div>
              <div class="Mary-talkgn">
                <span class="iconfont icon-iconfontdaohanggonggao"></span>
                <span class="iconfont icon-maximize"></span>
                <span class="iconfont icon-chahao Mary-dian"></span>
              </div>
              </div>
              <div class="Mary-massage">
                <div class="Mary-time"></div>
                <div class="Mary-xiao">微客服小骚货</div>
                <ul>
                  <li></li>
                  <li><div>您好，很高兴为您服务，请问有什么可以帮您？</div></li>
                </ul>
              </div>
              <div class="Mary-talkBottom">

                <ul>
                  <li class="iconfont icon-heart"></li>
                  <li>满意度</li>
                </ul>
                <ul>
                  <li class="iconfont icon-liaotian"></li>
                  <li>继续回话</li>
                </ul>
                <ul>
                  <li class="iconfont icon-duanxin"></li>
                  <li>留言</li>
                </ul>
              </div>
          </div>

      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/online.js" charset="utf-8"></script>

  </body>
</html>
